<%- include('../../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <form action="/" method="post">
            <h1>Title</h1>
            <input type="text" name="title">
            <button type="submit">submit</button>
        </form>
    </main>
</body>
</html>