doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title add
    link(rel="stylesheet", href="/css/product.css")
  body
    header.head
      nav.navbar
        ul.items
          li.item
            a.active(href="/") Shop
          li.item
            a(href="/add") Add-products
    main
      form(action="/added", method="post")
        h1 Title
        input(type="text", name="title")
        button(type="submit") submit