<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <h1>product name:<%= product.title %></h1>
        <h1>product id : <%= product.id %></h1>
    </main>
</body>
</html>