<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            
                <li class="main-header__item"><a  href="/">Shop</a></li>
                <li class="main-header__item"><a  href="/cart">cart</a></li>
                <li class="main-header__item"><a  href="/product-detail">product-detail</a></li>
                <li class="main-header__item"><a  href="/index">index</a></li>
                <li class="main-header__item"><a  href="/checkout">checkout</a></li>
                <li class="main-header__item"><a  href="/edit-product">edit-product</a></li>

                <li class="main-header__item"><a  href="/add-product">add-products</a></li>
                <li class="main-header__item"><a  href="/products">products</a></li>
                <!-- <li class="item"><a href="/products">Add-products</a></li> -->
            
        </ul>
    </nav>
</header>